@import 'src/assets/fonts/fonts.css';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sun {
  cursor: pointer;
  position: absolute;
  width: 9vh;
  height: 9vh;
  transform: translate3d(-50%, -50%, 0);
  background: url('/src/images/other/sun_animated.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 4s linear;
  z-index: 99999;
  will-change: auto;
}

.wrapper__seed_bar {
  position: absolute;
  width: 100%;
  height: 15vh;
  z-index: 9998;
}

.seed_bar {
  display: grid;
  grid-template-columns: 10vh 1fr;
  gap: 1vh;
  margin-left: calc(100vh / 2.4);
  width: 72vh;
  height: calc(100% - 2vh);
  padding: 1vh;
  background-color: #98441b;
  outline: 2px solid #632d13;
  border-radius: 1vh;
  box-shadow: inset 0 0 2px 2px #5726107c;
}

.seed_bar__suns {
  border-radius: 0.75vh 0 0 0.75vh;
}

.seed_bar__seeds {
  display: grid;
  gap: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 0 0.75vh 0.75vh 0;
}

.seed_bar__seeds__packet {
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  cursor: pointer;
  background-image: url('/src/images/other/seed_packet_green.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.2vh;
}

.seed_bar__seeds__packet.disabled::after {
  cursor: default;
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background-color: #00000077;
  margin-left: 0.2vh;
}

.seed_bar__seeds__packet__reloaded_wrapper.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  margin-left: 0.2vh;
}

.seed_bar__seeds__packet__reloaded_wrapper.show::after {
  cursor: default;
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: var(--reloaded-height);
  background-color: #00000080;
}

.seed_bar__seeds__packet.select::after {
  cursor: default;
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background-color: #000000bb;
  margin-left: 0.2vh;
}

.seed_bar__seeds__packet__image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center 3.5vh;
  background-size: 50%;
}

.seed_bar__seeds__packet__cost {
  margin: auto;
  font-family: Pico12;
  font-size: 1.8vh;
}

.seed_bar__seeds__packet__info {
  display: none;
}

.seed_bar__seeds__packet__info.show {
  pointer-events: none;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  max-width: 12.5vh;
  top: 100%;
  padding: 0.1vh 0.5vh;
  font-size: 1.75vh;
  font-family: Pico12;
  margin-top: 0.1vh;
  border: 0.2vh solid black;
  background-color: #f4f7cc;
  text-align: center;
}

.seed_bar__suns,
.seed_bar__seeds {
  position: relative;
  background-color: #6f3215;
  outline: 1px solid #632d13;
  box-shadow: inset 0 0 1vh #552610;
}

.seed_bar__suns__sticker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1.25vh);
  height: 3.5vh;
  left: 50%;
  top: 91%;
  background: linear-gradient(to top, #f4f7cc, #e1d79f);
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0.3vh 0.4vh 0.5vh #53270f, 0 0 0.5vh #3d1d0b;
}

.seed_bar__suns__sticker>.count_of_suns {
  font-family: Cornerita;
  margin-top: 0.6vh;
  margin-left: 0.5vh;
  font-size: 3.5vh;
  text-shadow: 0 0 1px black, 0 0 1px black;
}

.seed_bar__suns_present {
  position: relative;
  width: 7.35vh;
  height: 7.35vh;
  margin: 1vh auto;
  border-radius: 50%;
  background: linear-gradient(-35deg, #98381b, #4d1c08, #6f3215);
  border: 0.5vh solid #98441b;
  box-shadow: 0.3vh 0.4vh 0.5vh #53270f, 0 0 0.5vh #53270f81;
  overflow: hidden;
}

.seed_bar__suns_present__sun.sun {
  cursor: default;
  top: 50%;
  left: 50%;
  background-image: url('/src/images/other/sun.svg');
  background-size: 85%;
  animation: rotateAlternative 30s linear infinite
}

.seed_bar__suns_present__glass {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-225deg, rgba(255, 255, 255, 0.295), rgba(255, 255, 255, 0.068) 40%);
  border-top: 2px solid rgba(255, 255, 255, 0.404);
  border-left: 2px solid rgba(255, 255, 255, 0.404);
  border-radius: 50%;
}

main {
  position: relative;
  height: 100%;
  background-image: url('/src/images/bg/level_1.png');
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
}

.floor__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.floor {
  display: grid;
  grid-template-rows: repeat(5, 16.5vh);
  margin-top: calc(100vh / 8);
  margin-left: calc(100vh / 2.4);
}

.floor__row {
  display: grid;
  grid-template-columns: repeat(9, 13.5vh);
}

.floor__ceil {
  position: relative;
  background-position: center 4vh;
  background-repeat: no-repeat;
  background-size: 70%;
}

.floor__ceil:has(.plant.planted) {
  background: radial-gradient(circle closest-side at 53% 70%, rgba(0, 60, 9, 0.75) 2vh, transparent 80%);
}

.floor__ceil>.plant {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center 4vh;
  background-repeat: no-repeat;
  background-size: 70%;
}

.zombie_spawner {
  position: absolute;
  width: 13.5vh;
  height: 16.5vh;
  left: 185vh;
}

.zombie_spawner>.zombie {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  will-change: auto;
  z-index: 9999;
}

.bullet {
  --size: 2.75vh;

  pointer-events: none;

  position: absolute;
  width: var(--size);
  height: var(--size);
  top: 30%;
  left: 75%;
  transform: translate3d(-85%, -30%, 0);
  background-image: url('src/images/plants/peashooter_bullet.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  outline: calc(1vh / 6) solid #333;
  will-change: auto;

  z-index: 99999;
}

.sun_from_sunflower.sun {
  position: absolute;
}

.sun_from_level.sun {
  top: 18vh;
}

.cursor_selected_plant {
  pointer-events: none;
  position: absolute;
  width: 13.5vh;
  height: 13.5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}