@font-face {
  font-family: BrianneTod;
  src: url('BRIANNETOD.ttf');
}

@font-face {
  font-family: AshleyScriptMTStd;
  src: url('ASHLEYSCRIPTMTSTD.ttf');
}

@font-face {
  font-family: Pico12;
  src: url('PICO12.ttf');
}

@font-face {
  font-family: HouseOfTerror;
  src: url('HOUSE_OF_TERROR.ttf');
}

@font-face {
  font-family: Cornerita;
  src: url('Cornerita.ttf');
}

@font-face {
  font-family: DwarvenStonecraft;
  src: url('Dwarven_Stonecraft.ttf');
}
