.jewel {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 1vh rgb(255, 232, 131)) drop-shadow(0 0 1vh rgb(253, 253, 253));
}

.coin_silver,
.coin_gold {
  width: 4.5vh;
  height: 4.5vh;
}

.diamond {
  width: 7vh;
  height: 4.5vh;
}

.money_bag {
  width: 10vh;
  height: 7vh;
}